<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<form action="/songs" method="post">
    <div class="controller-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div class="controller-group">
        <label for="length">Length</label>
        <input type="number" name="length" id="length">
    </div>
    <div class="controller-group">
        <label for="trackNumber">Track Number</label>
        <input type="number" name="trackNumber" id="trackNumber">
    </div>
    <div class="controller-group">
        <label for="album">Album Title</label>
        <input type="text" name="album" id="album">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>
